.card header {
    flex-grow: 5;
    flex-basis: 50%;
    flex-shrink: 0;
    border-bottom: 1px solid #e1e1e1;
}

.card header h1 {
    font-weight: 800;
    color: #385392;
}

.card footer {
    width: 100%;
    flex-grow: 5;
    flex-basis: 50%;
    flex-shrink: 0;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}

.card footer .row {
    width: 100%;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 5px;
    padding-right: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    width: 360px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    color: #051029;
    border-radius: 5px;
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 18px;
}

.contentField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    width: 210px;
}

.contentWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.contentField span {
    margin-bottom: 9px;
}

.contentField svg {
    width: 18px;
    height: 18px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: 10px;
}

.contentField .text,
.contentField .date {
    width: 100%;
    height: 36px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccd1d7;
    border-radius: 0;
    outline: none;
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    box-shadow: none;
    transition: all .5s;
}

.contentField .checkbox {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.contentField .text:active,
.contentField .text:focus,
.contentField .date:active,
.contentField .date:focus {
    border-bottom: 1px solid #385392;
    box-shadow: 0 1px 0 0 #385392;
}

.contentField .calendarIconFocus,
.contentField .moneyIconFocus {
    fill: #385392;
    transition: all .5s;
}

.contentField .calendarIcon,
.contentField .moneyIcon {
    fill: #ccd1d7;
    transition: all .5s;
}

.contentField .button {
    background-color: #ff9c00;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 9px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contentField .button:hover,
.contentField .button:focus,
.contentField .button:active {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contentField .button span {
    color: #e7eaf0;
    font-weight: 800;
    margin-bottom: 0;
}