.contentTitle{
    font-size: 36px;
    margin-top: 36px;
}

.calculatorOptionButton{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    height: 72px;
    width: 210px;
    border-radius: 5px;
    background-color: #385392;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.calculatorOptionButton:hover{
    cursor:pointer;        
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.calculatorOptionButton span{
    color: #e7eaf0;
    font-weight: 400;
    font-size: 18px; 
}