@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  opacity: 1;
  animation: fade 3s linear;
}

.move-out {
  transition: transform 2s ease-out;
  transform: translate3d(-100vw, 0px, 0px);
}
