a {
    color: #4e4a46;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #c94e50;
}

main {
    height: 100%;
    text-align: center;
}

.description {
    max-width: 20em;
    margin: 1.2em auto 1em;
    line-height: 1.3em;
    font-weight: 400;
}

.side-button {
    display: inline-block;
    width: 5em;
    height: 2.5em;
    line-height: 2.5em;
    cursor: pointer;
    background: #fffce1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 800;
}

.header {
    height: 108px;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 0;
}

.mainButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainButton .icon{
    height: 180px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    border-radius: 50%;
    margin-top: 36px;
}

.mainButton .icon:hover{
    cursor:pointer;        
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mainButton .text{
    margin-top: 18px;
    font-size: 27px;
    font-weight: 400;
}

.mainButton .text:hover{
    text-decoration: underline;
    cursor:pointer;
}


