.backIcon {
    position: fixed;
    width: 36px;
    left: 36px;
    top: 36px;
    content: url('./assets/back-icon.svg');
    cursor: pointer;
}

.backIcon:hover,
.backIcon:active,
.backIcon:focus {
    content: url('./assets/back-icon-hover.svg');
}


/* Burger Menu Style */

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.right .bm-burger-button {
    left: initial;
    right: 36px;
}

.bm-burger-bars {
    background: #d4dae6;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-menu {
    background: #373a47;
}

.bm-menu a {
    color: #b8b7ad;
}

.bm-menu a:hover {
    color: #c94e50;
}

.bm-item-list a {
    padding: 0.8em;
}

.bm-item-list a span {
    margin-left: 10px;
    font-weight: 700;
}

.bm-cross {
    background: #999;
}

.bm-menu {
    padding: 3.4em 1em 0;
}

a {
    padding: 1em;
}

i {
    font-size: 1.7em;
    vertical-align: middle;
    color: #282a35;
}